/* .App {
  background: url("/public/bronx.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
} */

.App-logo {
}
.Header {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  margin: -90px 0 0 -300px;
  background-color: blue;
  border-radius: 15px;
  box-shadow: inset 0px 0px 20px 0px white;
}

.Name-Text {
  padding: 15px 0px 0px 20px;
  color: red;
  font-family: slab serif, sans-serif;
  font-size: 40px;
  text-align: center;
  /* letter-spacing: 3px; */
  line-height: 50px;
  white-space: normal;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: red;
  transform-origin: 0%;
}
