.Header {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 0 8%;
  background: #080008;
  position: relative;
  overflow: hidden;
}

.Name-Text {
  padding: 300px 0px 300px 20px;
  color: red;
  font-family: slab serif, sans-serif;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  white-space: normal;
}

.AboutMe {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  padding-right: 200px;
  margin-left: 200px;
  margin-top: 200px;
}

.aboutMeText {
  font-family: "Times New Roman", Times, serif;
  align-self: auto;
  margin-left: 500px;
  margin-right: 100px;
  height: 50%;
}

.Personal-project {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 200px;
  display: flex;
  margin-bottom: 200px;
  /* height: 100vh; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
